.app{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}


.app-title{
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 5;
    width: 90%;
    height: auto;
    border-radius: 30px 30px 30px 30px ;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(218, 218, 218, 0.397);
    padding: 40px 0px;
    backdrop-filter: blur(10px);
    margin-top: 20px;
}


.vline{
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-top: 50px;
}

.app-title img{
    width: 50%;
    margin-bottom: 20px;
}


/* APP INFO */
.app-info{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.app-info h2{
    font-family: 'gilroy';
    font-size: 1.4em;
    text-align: center;
    color: #333333;
    
}

.two{
    margin-top: 50px;
}

.app-info-btn{
    margin-top: 30px;
    font-family: 'gilroy-bold';
    text-align: center;
    padding: 15px 40px;
    font-size: 1.3em;
    border-radius: 20px;
    border: 2px solid #1d1d1d;
    color: #333333;
    animation: zoom 3s infinite;
}

.app-balls{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F2F2F2;
}

.ball{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    transition: 75ms ;
}


.app-links{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;

}

.app-links-cnt{
    width: 40%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    z-index: 99 !important;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
    
}

.app-links-cnt img{
    width: 35px;
    animation: zoom 2s infinite;
}

/* email modal */

.email-modal-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #E1CDB8;
}

.email-modal--info{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 3;
}


.email-modal--info h2{
    font-family: 'gilroy-bold';
    width: 70%;
    text-align: center;
    max-width: 500px;
    color: #50543D;
    font-size: 2em;
}


.heart{
    display: inline-block;
    animation: zoomheart 2s infinite;
}


@keyframes zoomheart {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


.email-modal--info img{
    width: 45px;
    margin-top: 30px;
}


.email-modal--email{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex: 3;
}


.email-modal--email p{
    width: 70%;
    max-width: 500px;
    font-family: 'gilroy';
    font-size: 1.2em;
    color: #622C25;
}

.email-policy{
    text-decoration: underline;
    font-size: .85em !important;
    margin-bottom: 20px;
    margin-top: 10px;
}

.email-modal--email input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #50543D;
    width: 75%;
    max-width: 500px;
    text-align: center;
    font-family: 'gilroy';
    font-size: 1.2em;
    padding: 5px;
    border-radius: none;
    outline: none;
    color: #50543D;
}

.sub-btn{
    font-family: 'gilroy-bold';
    background-color: #622C25;
    padding: 10px 0px;
    border-radius: 20px;
    font-size: 1.5em;
    color: #E1CDB8;
    margin-top: 20px;
}

.dis-btn{
    font-family: 'gilroy-bold';
    font-size: 1em;
    margin-top: 10px;
    background-color: #50543D;
    color: #622C25;
    margin-bottom: 15px;
    padding: 20px 15px;
    border-radius: 30px;
    color: #E1CDB8;
}

.dis-btn span{
    font-size: 1.2em;
}

.email-modal--footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #50543D;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0;
    border-radius: 100px 100px 0px 0px;
    padding: 15px 0px;
    text-align: center;
}

.email-modal--footer h2{
    font-family: 'gilroy';
    font-size: 1.9em;
    color: #E1CDB8;
}

.email-modal--footer p{
    font-family: 'gilroy';
    font-size: .9em;
    color: #E1CDB8;
}


.email-modal--footer h2 span{
    font-family: 'gilroy-bold';
    margin-left: 3px;
}

.hide{
    display: none;
}